<!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="https://twitter.com/ecellvnit">Twitter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="https://www.facebook.com/vnitecell/">Facebook</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="https://www.instagram.com/ecellvnit/">Instagram</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="https://www.youtube.com/channel/UC0KNOmODhqLcEpcfN9qEsIQ">YouTube</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--white">The Entrepreneurship Cell, VNIT</h3>
                            <p class="g-color--white-opacity">The Entrepreneurship Cell is managed by students of VNIT under the guidance of Centre of Innovation, Nagpur and PM Yuva Yojana, which aims to promote and develop entrepreneurship culture amongst the students. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/">
                            <img class="g-width-100--xs g-height-auto--xs" src="static/img/E-Cell_white.png" alt="E-Cell VNIT Logo">
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>