<!DOCTYPE html>
<html lang="en" class="no-js">
    {{> head }}

    <!-- Body -->
    <body>

        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <nav class="s-header-v2__navbar">
                <div class="container g-display-table--lg">
                    <!-- Navbar Row -->
                    <div class="s-header-v2__navbar-row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="s-header-v2__navbar-col">
                            <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                                <span class="s-header-v2__toggle-icon-bar"></span>
                            </button>
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                            <!-- Logo -->
                            <div class="s-header-v2__logo">
                                <a href="index.html" class="s-header-v2__logo-link">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="static/img/consologo.png" alt="Consortium" height="50" width="50">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="static/img/consologo.png" alt="Consortium" height="50" width="50">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                                <ul class="s-header-v2__nav">
                                    <li class="s-header-v2__nav-item"><a href="/." class="s-header-v2__nav-link">Home</a></li>
                                    <li class="s-header-v2__nav-item"><a href="/logout" class="s-header-v2__nav-link">Logout</a></li>
                                </ul>
                            </div>
                            <!-- End Nav Menu -->
                        </div>
                    </div>
                    <!-- End Navbar Row -->
                </div>
            </nav>
            <!-- End Navbar -->
        </header>
        <!--========== END HEADER ==========-->
        <!--========== PROMO BLOCK ==========-->
        <div style="background: url(static/img/background8-01.jpg) 60% 30% no-repeat fixed; background-size:cover !important">
            <div class="g-padding-x-100--lg g-padding-x-60--md g-padding-x-40--sm g-padding-x-20--xs g-padding-y-60--lg g-padding-y-60--sm g-padding-y-60--md  g-padding-y-40--xs">
                <div class="g-text-center--xs g-margin-b-40--xs">
                    <h2 class="g-font-size-32--xs g-font-size-36--md" style="color:white">Team <span class="g-color--primary">Dashboard </span></h2>
                </div>
                <!--<h4 class="g-font-size-22--xs g-font-size-26--md g-text-center--lg" style="color:white">Team Members</h4>-->
                <div id="profile" class="g-text-center--lg g-text-center--md g-text-center--sm g-padding-y-20--xs g-padding-x-10--xs g-padding-x-80--lg g-padding-x-80--md">
                    <div class="g-color--white-opacity g-font-size-22--lg">Team Name: <span class="g-font-weight--700">Apun hi baghwaan</span></div>
                    <div class="g-color--white-opacity g-font-size-22--lg">Organisation: <span class="g-font-weight--700">Sagar Bansal</span></div>
                    <div class="g-color--white-opacity g-font-size-22--lg">Member1: <span class="g-font-weight--700">Subham</span></div>
                    <div class="g-color--white-opacity g-font-size-22--lg">Member2: <span class="g-font-weight--700">Rohit X</span></div>
                    <div class="g-color--white-opacity g-font-size-22--lg">Member3: <span class="g-font-weight--700">XYZ</span></div>
                </div>
            </div>

            <div class="g-padding-x-100--lg g-padding-x-60--md g-padding-x-40--sm g-padding-x-20--xs g-padding-y-60--lg g-padding-y-60--sm g-padding-y-60--md  g-padding-y-40--xs" style="background: rgba(255,255,255,0.8)">

            <div id="round1" class="g-padding-x-100--md g-padding-x-120--lg g-padding-x-40">
                <span class="card-title">
                    <h3 class="g-font-size-20--xs g-color--dark g-margin-b-5--xs"><span style="color:#bd2026">Welcome To Round 1</span></h3>
                </span>
                <br>
                <p class=" g-font-size-16--xs g-color--dark g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                    This round commences with filling a basic questionnaire. Our experts will judge you on basis of idea generation and will shortlist you for second round. Learning resources like videos, curated course material and presentations are shared with you below for reference.
                </p>
                <br>
                <p class=" g-font-size-16--xs g-color--dark g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                    <b>Deadline: 31 - Dec - 18</b>
                </p>


                <br>
                <span class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a href="/ques" class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">Fill Questionnaire</a>
                </span>
                <span class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a href="/" class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">Resources</a>
                </span>
                <br>
            </div>
            <div id="round2" class="g-padding-x-100--md g-padding-x-120--lg g-padding-x-40 g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                <span class="card-title">
                    <h3 class="g-font-size-20--xs g-color--dark g-margin-b-5--xs"><span style="color:#bd2026">Welcome To Round 2</span></h3>
                </span>
                <br>
                <p class=" g-font-size-16--xs g-color--dark g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                    Congratulations for qualifying for the second round! <br>In this round, you will create a B-plan which will map the company's future course of action. The format of your B-Plan structure is given below. After completing your B-Plan draft, upload it on your google drive share the link in the space provided below. <br> Similarly, make a video of your elevator pitch; upload it on your google drive and share the link below.
                </p>
                <br>
                <p class=" g-font-size-16--xs g-color--dark g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                    <b>Deadline: 28 - Feb - 19</b>
                </p>
                <form class=" g-width-400--sm g-width-400--md">
                    <div class="g-margin-b-30--xs">
                        <input type="text" class=" g-color--dark" placeholder="* Google Drive Link for B-Plan">
                        <button type="submit" class=""><i class="ti-arrow-right"></i></button>
                    </div>
                </form>
                <form class=" g-width-400--sm g-width-400--md">
                    <div class="g-margin-b-30--xs">
                        <input type="text" class="g-color--dark" placeholder="* Google Drive Link for Elevator Pitch">
                        <button type="submit" class=""><i class="ti-arrow-right"></i></button>
                    </div>
                </form>

                <br>

                <br>
            </div>
            <div id="round3" class="g-padding-x-100--md g-padding-x-120--lg g-padding-x-40 g-padding-y-20--lg g-padding-y-20--md g-padding-y-20--sm">
                <span class="card-title">
                    <h3 class="g-font-size-18--xs g-color--dark g-margin-b-5--xs"><span style="color:#bd2026">Round 3 Details</span></h3>

                </span>
                <br>
                <p class="g-color--white-body">
                    Congratulations for qualifying the Round 2!
                </p>
                <p class="g-color--white-body">
                    Comming Soon
                </p>
            </div>
        </div>

        </div>

        <!--========== END PROMO BLOCK ==========-->

        {{> footer}}
        {{> scripts }}


    </body>
    <!-- End Body -->
</html>
