<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- Begin Head -->
    <head>
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dashboard | StartUp Conclave</title>

        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">

        <!-- Vendor Styles -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/animate.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/themify/themify.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css"/>

        <!-- Theme Styles -->
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="css/materialize.css" rel="stylesheet" type="text/css"/>
        <link href="css/global/global.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/consologo.png" type="image/x-icon">
    </head>
    <!-- End Head -->

    <!-- Body -->
    <body>

        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <nav class="s-header-v2__navbar">
                <div class="container g-display-table--lg">
                    <!-- Navbar Row -->
                    <div class="s-header-v2__navbar-row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="s-header-v2__navbar-col">
                            <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                                <span class="s-header-v2__toggle-icon-bar"></span>
                            </button>
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                            <!-- Logo -->
                            <div class="s-header-v2__logo">
                                <a href="index.html" class="s-header-v2__logo-link">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="img/consologo.png" alt="Consortium" height="50" width="50">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="img/consologo.png" alt="Consortium" height="50" width="50">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                                <ul class="s-header-v2__nav">
                                    <li class="s-header-v2__nav-item"><a href="/." class="s-header-v2__nav-link">Home</a></li>
                                </ul>
                            </div>
                            <!-- End Nav Menu -->
                        </div>
                    </div>
                    <!-- End Navbar Row -->
                </div>
            </nav>
            <!-- End Navbar -->
        </header>
        <!--========== END HEADER ==========-->

        <div id="dashboard" class="g-fullheight--md js__parallax-window" style="background: url(img/background8-01.jpg) 60% 30% no-repeat fixed; background-size:cover !important">
            <div class="g-fullheight--md g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-300--md" style="width:100%; rbga(0,0,0,0)">
            <div class="g-fullheight--md g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-300--md" style="width:100%;background: rbga(0,0,0,0)">
                <div class="g-margin-b-60--xs">
                    <!-- Session -->
                    <div class="container g-padding-y-0--xs s-portfolio" id="round1">
                        <div class="g-text-center--xs g-margin-b-40--xs">
                            <h2 class="g-font-size-32--xs g-font-size-36--md" style="color:white">Your <span class="g-color--primary">Dashboard </span></h2>
                        </div>
                        <div class="card" id="event-card-bg">
                            <div class="card-tabs">
                                <ul class="tabs tabs-fixed-width">
                                <!--<li class="tab"><a  href="#attraction">Events</a></li>-->
                                    <li class="tab"><a href="#round1">Round 1</a></li>
                                    <li class="tab"><a href="#round2">Round 2</a></li>
                                    <li class="tab"><a href="#round3">Round 3</a></li>
                                </ul>
                                </div>
                        </div>

                    <!--Round 1 Start-->
                    <div class="card-content code">
                        <div class="container g-margin-b-80--xs" id="round1">
                            <div class="row">
                                <!-- Item -->
                                <div class="">
                                    <div class="card">
                                        <div class="card-content">
                                            <span class="card-title">
                                                <h3 class="g-font-size-18--xs g-color--dark g-margin-b-5--xs"><span style="color:#bd2026">Round 1 Details</h3>
                                                <!--<p class="g-color--dark">Yash Gandhi</p>-->
                                                <!--<div class="g-color--primary" id="call-session" onclick="show_overlay('yash')">View</div>-->
                                            </span>
                                            <br>
                                            <p class="g-color--white-opacity">
                                                This round commences with filling a basic questionnaire. Our experts will judge you on basis of idea generation and will shortlist you for second round. Learning resources like videos, curated course material and presentations are shared with you below for reference.
                                            </p>
                                            <br>
                                            <p class="g-color--white-opacity">Fill the questionnaire <a class="g-color--primary" href="views/ques.html">here</a></p>
                                            <p class="g-color--white-opacity">Check out your resources <a class="g-color--primary" href="views/ques.html">here</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Round 1 End-->

                    <!--Round 2 Start-->
                    <div class="card-content code">
                        <div class="container g-margin-b-80--xs" id="round2">
                            <div class="row">
                                <!-- Item -->
                                <div class="">
                                    <div class="card">
                                        <!--<div class="card-image">-->
                                          <!--<img src="img/guests/yash.jpg" alt="yash" onerror="this.onerror=null;">-->
                                        <!--</div>-->
                                        <div class="card-content">
                                            <span class="card-title">
                                                <h3 class="g-font-size-18--xs g-color--dark g-margin-b-5--xs"><span style="color:#bd2026">Round 2 Details</h3>
                                                <!--<p class="g-color--dark">Yash Gandhi</p>-->
                                                <!--<div class="g-color--primary" id="call-session" onclick="show_overlay('yash')">View</div>-->
                                            </span>
                                            <br>
                                            <p class="g-color--white-opacity">
                                                Congratulations for qualifying for the second round! <br>In this round, you will create a B-plan which will map the company's future course of action. The format of your B-Plan structure is given below. After completing your B-Plan draft, upload it on your google drive share the link in the space provided below. <br> Similarly, make a video of your elevator pitch; upload it on your google drive and share the link below.
                                            </p>
                                            <br>
                                            <div class="g-margin-b-30--xs">
                                                <p class="g-color--white-opacity">Google drive link for your B-Plan draft:</p>
                                                <input type="text" class="form-control s-form-v3__input" placeholder="" value=""></input>
                                                <p class="g-color--white-opacity">Google drive link for your Elevator pitch:</p>
                                                <input type="text" class="form-control s-form-v3__input" placeholder="" value=""></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Item -->
                            </div>
                        </div>
                    </div>
                    <!--Round 2 End-->

                    <!--Round 3 Start-->
                    <div class="card-content code">
                        <div class="container g-margin-b-80--xs" id="round1">
                            <div class="row">
                                <!-- Item -->
                                <div class="">
                                    <div class="card">
                                        <div class="card-content">
                                            <span class="card-title">
                                                <h3 class="g-font-size-18--xs g-color--dark g-margin-b-5--xs"><span style="color:#bd2026">Round 3 Details</h3>
                                                <!--<p class="g-color--dark">Yash Gandhi</p>-->
                                                <!--<div class="g-color--primary" id="call-session" onclick="show_overlay('yash')">View</div>-->
                                            </span>
                                            <br>
                                            <p class="g-color--white-opacity">
                                                Congratulations for qualifying the Round 2!
                                            </p>
                                            <br>
                                            <p class="g-color--white-opacity">Fill the questionnaire <a href="views/ques.html">here</a></p>
                                            <p class="g-color--white-opacity">Check out your resources <a href="views/ques.html">here</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Round 3 End-->
                </div>
                <!--Session End-->
                </div>
            </div>
            </div>
        </div>

        <!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Home</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">About</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Work</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Twitter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Facebook</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Instagram</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">YouTube</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Subscribe to Our Newsletter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Privacy Policy</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--white">Megakit</h3>
                            <p class="g-color--white-opacity">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="index.html">
                            <img class="g-width-100--xs g-height-auto--xs" src="img/E-Cell_white.png" alt="E-Cell Logo">
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

        <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
        <!-- Vendor -->
        <script type="text/javascript" src="vendor/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.migrate.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.smooth-scroll.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.back-to-top.min.js"></script>
        <script type="text/javascript" src="vendor/scrollbar/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.parallax.min.js"></script>
        <script type="text/javascript" src="vendor/swiper/swiper.jquery.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.wow.min.js"></script>
        <script type="text/javascript" src="vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

        <!-- General Components and Settings -->
        <script type="text/javascript" src="js/global.min.js"></script>
        <script type="text/javascript" src="js/components/header-sticky.min.js"></script>
        <script type="text/javascript" src="js/components/scrollbar.min.js"></script>
        <script type="text/javascript" src="js/components/magnific-popup.min.js"></script>
        <script type="text/javascript" src="js/components/swiper.min.js"></script>
        <script type="text/javascript" src="js/components/wow.min.js"></script>
        <script type="text/javascript" src="js/components/faq.min.js"></script>
        <!--========== END JAVASCRIPTS ==========-->

    </body>
    <!-- End Body -->
</html>
