<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- Begin Head -->
    <head>
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Megakit - HTML5 Theme</title>
        <meta name="keywords" content="HTML5 Theme" />
        <meta name="description" content="Megakit - HTML5 Theme">
        <meta name="author" content="keenthemes.com">

        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

        <!-- Vendor Styles -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/themify/themify.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css"/>

        <!-- Theme Styles -->
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="css/global/global.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    </head>
    <!-- End Head -->

    <!-- Body -->
    <body>

        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <div class="s-header__navbar">
                <div class="s-header__container">
                    <div class="s-header__navbar-row">
                        <div class="s-header__navbar-row-col">
                            <!-- Logo -->
                            <div class="s-header__logo">
                                <a href="index.html" class="s-header__logo-link">
                                    <img class="s-header__logo-img s-header__logo-img-default" src="img/logo-white.png" alt="Megakit Logo">
                                    <img class="s-header__logo-img s-header__logo-img-shrink" src="img/logo-dark.png" alt="Megakit Logo">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>
                        <div class="s-header__navbar-row-col">
                            <!-- Trigger -->
                            <a href="javascript:void(0);" class="s-header__trigger js__trigger">
                                <span class="s-header__trigger-icon"></span>
                                <svg x="0rem" y="0rem" width="3.125rem" height="3.125rem" viewbox="0 0 54 54">
                                    <circle fill="transparent" stroke="#fff" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                                </svg>
                            </a>
                            <!-- End Trigger -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->

            <!-- Overlay -->
            <div class="s-header-bg-overlay js__bg-overlay">
                <!-- Nav -->
                <nav class="s-header__nav js__scrollbar">
                    <div class="container-fluid">
                        <!-- Menu List -->
                        <ul class="list-unstyled s-header__nav-menu">
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index.html">Corporate</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_app_landing.html">App Landing</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_portfolio.html">Portfolio</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_events.html">Events</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_lawyer.html">Lawyer</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_clinic.html">Clinic</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_coming_soon.html">Coming Soon</a></li>
                        </ul>
                        <!-- End Menu List -->

                        <!-- Menu List -->
                        <ul class="list-unstyled s-header__nav-menu">
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="about.html">About</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="team.html">Team</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="services.html">Services</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="events.html">Events</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider -is-active" href="faq.html">FAQ</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="contacts.html">Contacts</a></li>
                        </ul>
                        <!-- End Menu List -->
                    </div>
                </nav>
                <!-- End Nav -->

                <!-- Action -->
                <ul class="list-inline s-header__action s-header__action--lb">
                    <li class="s-header__action-item"><a class="s-header__action-link -is-active" href="#">En</a></li>
                    <li class="s-header__action-item"><a class="s-header__action-link" href="#">Fr</a></li>
                </ul>
                <!-- End Action -->

                <!-- Action -->
                <ul class="list-inline s-header__action s-header__action--rb">
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://www.behance.net/keenthemes">
                            <i class="g-padding-r-5--xs ti-facebook"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Facebook</span>
                        </a>
                    </li>
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://twitter.com/keenthemes">
                            <i class="g-padding-r-5--xs ti-twitter"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Twitter</span>
                        </a>
                    </li>
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://dribbble.com/keenthemes">
                            <i class="g-padding-r-5--xs ti-dribbble"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Dribbble</span>
                        </a>
                    </li>
                </ul>
                <!-- End Action -->
            </div>
            <!-- End Overlay -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== PROMO BLOCK ==========-->
        <div class="js__parallax-window" style="background: url(img/1920x1080/06.jpg) 50% 0 no-repeat fixed;">
            <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
                <div class="g-margin-b-60--xs">
                    <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-70--md g-color--white g-letter-spacing--1 g-margin-b-30--xs">FAQ</h1>
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2">Your Questions. Answered.</p>
                </div>
                <a href="#js__scroll-to-section">
                    <span class="s-icon s-icon--md s-icon--white-brd g-radius--circle ti-angle-double-down"></span>
                </a>
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->

        <!--========== PAGE CONTENT ==========-->
        <!-- FA Questions Text -->
        <div id="js__scroll-to-section" class="g-container--md g-padding-y-80--xs g-padding-y-125--sm">
            <h2 class="g-font-size-32--xs g-font-size-36--md g-text-center--xs g-margin-b-80--xs">What are the <br> Frequently Asked Questions?</h2>
            <div class="row g-margin-b-50--xs">
                <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--sm">
                    <p>This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized.</p>

                    <div class="s-faq__pseudo g-padding-y-40--xs">
                        <p class="g-color--primary g-font-family--playfair"><i>How Can I Improve myself?</i></p>
                        <div class="g-margin-l-70--xs">
                            <p class="g-color--primary g-font-family--playfair"><i>How Can I Improve the World?</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <p>The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels. Whether through commerce or just an experience to tell your brand's story, the time has come to start using development languages that fit your projects needs.</p>
                    <p>Now that your brand is all dressed up and ready to party, it's time to release it to the world. By the way, let's celebrate already. We get it, you're busy and it's important that someone keeps up with marketing and driving people to your brand. We've got you covered.</p>
                </div>
            </div>
            <div class="g-text-center--xs">
                <p class="g-margin-b-5--xs">We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.</p>
                <p>Working together on the daily requires each individual to let the greater good<br>of the team’s work surface above their own ego.</p>
            </div>
        </div>
        <!-- End FA Questions Text -->

        <!-- Accordion -->
        <div class="s-faq g-bg-color--primary">
            <div class="g-container--sm g-padding-y-80--xs g-padding-y-125--xsm">
                <div class="g-text-center--xs g-margin-b-60--xs">
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">Questionnaire</h2>
                </div>
                <p class="g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae eros odio. Praesent pellentesque mauris ac ipsum mattis, vel maximus odio pretium. Morbi consectetur semper diam sit amet vulputate. Donec iaculis urna vitae nisl varius, id lacinia sapien tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in erat et nisl scelerisque tincidunt nec sit amet felis. Ut erat tellus, sollicitudin id pretium condimentum, condimentum sed nunc.
                </p>
                <br>
                <div class="row">
                        <div class="cbp cbp-l-grid-faq js__grid-faq">
                            <div class="cbp-item buying">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h2 class="s-faq-grid__title">1. Basic Description</h2>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-30--xs">
                                                    <input type="text" class="form-control s-form-v3__input" placeholder="* Idea Name">
                                                </div>
                                                <div class="row g-row-col-5 g-margin-b-50--xs">
                                                    <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                                                        <input type="email" class="form-control s-form-v3__input" placeholder="* Category">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select type="choice" class="form-control s-form-v3__input" placeholder="* Team Size" name="teamsize">
                                                            <option value="" selected disabled hidden>Team Size</option>
                                                            <option value="">2</option>
                                                            <option value="">3</option>
                                                            <option value="">4</option>
                                                            <option value="">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="g-margin-b-80--xs">
                                                    <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Description of Idea"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item community">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h3 class="s-faq-grid__title">2. Problem</h3>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <form class="center-block g-width-500--sm g-width-550--md">
                                        <div class="g-color--white-opacity">
                                            <div class="g-margin-b-80--xs">
                                                <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Problem being solved? (What current problem is your venture targeting?)"></textarea>
                                            </div>
                                            <div class="g-margin-b-80--xs">
                                                <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Why do you believe it's a major problem?"></textarea>
                                            </div>
                                        </div>
                                        <form class="center-block g-width-500--sm g-width-550--md">
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item buying">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h4 class="s-faq-grid__title">3. Solution</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Your Solution? (How your product/service can help in resolving the above problem.) "></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Product or Service description "></textarea>
                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item author">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h4 class="s-faq-grid__title">4. Status</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Current Status of your venture (like idea stage, prototype, etc.)"></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Mention if you have secured funding, incubation or enrolled in any (if any) of the accelerator program."></textarea>
                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item copyright">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h4 class="s-faq-grid__title">5. Target Market</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* What market will you target initially? (Be clear about who will utilize your product/services and how will they access it. This section should therefore give a sense about the size of the market and market research (e.g. In India, there are ___ number of car owners who will buy your service at Rs. ____ per year. This translates into a market potential of Rs. ____ per year)."></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Who is your most important customer and why?"></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* What is your vision regarding your addressable market? (Total market that you want to grab if all of them were to buy your product/ services (not that they will, but this is to give an indication of what size of the market is ))"></textarea>
                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item author">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h4 class="s-faq-grid__title">6. Competitors and Differentiation</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Who is your Direct Competitor?"></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Who is likely to be your Indirect Competitor and why?"></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Describe how you will differentiate your venture from your competitor in your market."></textarea>
                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item account">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h4 class="s-faq-grid__title">7. Revenue Model</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* What is your revenue model and how will you make money from this business opportunity?"></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* What do you consider as the factors that may affect your revenue and cost?"></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* What are the growth opportunities in your venture?"></textarea>
                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp cbp-l-grid-faq js__grid-faq">
                            <div class="cbp-item account">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h4 class="s-faq-grid__title">8. Social Touch</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Any substantial social and/or environmental benefits by your idea?"></textarea>
                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item author">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h4 class="s-faq-grid__title">9. Marketing Technique</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* What marketing techniques will you use to market your product?"></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Why do you believe this will work?"></textarea>
                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item copyright">
                                <div class="cbp-caption">
                                    <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                        <h4 class="s-faq-grid__title">10. Team</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="g-color--white-opacity">
                                            <form class="center-block g-width-500--sm g-width-550--md">
                                                <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Highlight what will each member of the team do in the venture and why he / she is best suited for that role."></textarea>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v6__input" rows="5" placeholder="* Highlight the work experience and education background of all the team members."></textarea>
                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- End Accordion -->

        <!-- Subscribe -->
        <div class="g-container--sm g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
            <div class="g-margin-b-60--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Subscribe</p>
                <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1">Join Over 1000+ People</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <form class="input-group">
                        <input type="email" class="form-control s-form-v5__input g-radius--left-50" name="email" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button type="submit" class="s-btn s-btn-icon--md s-btn-icon--dark-brd s-btn--dark-brd g-radius--right-50"><i class="ti-arrow-right"></i></button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Subscribe -->
        <!--========== END PAGE CONTENT ==========-->

        <!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Home</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">About</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Work</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Twitter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Facebook</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Instagram</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">YouTube</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Subscribe to Our Newsletter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Privacy Policy</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--white">Megakit</h3>
                            <p class="g-color--white-opacity">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="index.html">
                            <img class="g-width-100--xs g-height-auto--xs" src="img/logo.png" alt="Megakit Logo">
                        </a>
                    </div>
                    <div class="col-xs-6 g-text-right--xs">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a href="http://keenthemes.com/preview/Megakit/">Megakit</a> Theme Powered by: <a href="http://www.keenthemes.com/">KeenThemes.com</a></p>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

        <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
        <!-- Vendor -->
        <script type="text/javascript" src="vendor/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.migrate.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.smooth-scroll.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.back-to-top.min.js"></script>
        <script type="text/javascript" src="vendor/scrollbar/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.parallax.min.js"></script>
        <script type="text/javascript" src="vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

        <!-- General Components and Settings -->
        <script type="text/javascript" src="js/global.min.js"></script>
        <script type="text/javascript" src="js/components/header-sticky.min.js"></script>
        <script type="text/javascript" src="js/components/scrollbar.min.js"></script>
        <script type="text/javascript" src="js/components/faq.min.js"></script>
        <!--========== END JAVASCRIPTS ==========-->

    </body>
    <!-- End Body -->
</html>
