<!DOCTYPE html>
        <html>
            <head>
                <style>
                    li{
                        padding:10px;
                    }
                    p{
                        font-size:16px;
                    }
                </style>
            </head>
            <body style="width:100%; background-color:#fff; padding:50px 30px; color:#1e1e1e; margin-top:50px;font-family:Helvetica,Arial,sans-serif">
            <div style="background-color:#000;width:90%;  padding:10px 30px;"><img src="https://www.ecellvnit.org/img/logo-ecell.png"></div>
                <div style="width:90%; background-color:#f7f9fb; padding:150px 30px;color: #212121;">
                    <h3><b>Hello {{name}},</b></h3>
                    <p style="font-size:18px;">Thank You for registering with us. Your OTP is <b>{{otp}}</b><br></p>
                </div>
                <hr>
                <div style="padding:50px 30px; width:90%;color:#212121; background-color:#f7f9fb;">
                    <h5>Contact Us</h5>
                    <p>Lakshya Shukla<br>
                    (Event Manager)</p>
                    <p>+91 77384 46941</p>
                    <p>or</p>
                    <p>Mail Us: <span style="color: #0b0b0b">contact@ecellvnit.org</span></p>
                </div>
            </body>
        </html>