<!DOCTYPE html>
<html lang="en" class="no-js">
    {{> head }}

    <!-- Body -->
    <body>


        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <nav class="s-header-v2__navbar">
                <div class="container g-display-table--lg">
                    <!-- Navbar Row -->
                    <div class="s-header-v2__navbar-row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="s-header-v2__navbar-col">
                            <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                                <span class="s-header-v2__toggle-icon-bar"></span>
                            </button>
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                            <!-- Logo -->
                            <div class="s-header-v2__logo">
                                <a href="/" class="s-header-v2__logo-link">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="static/img/simple_red.png" alt="Consortium" height="50" width="50">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="static/img/simple_red.png" alt="Consortium" height="50" width="50">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                                <ul class="s-header-v2__nav">
                                    <li class="s-header-v2__nav-item"><a href="#home" class="s-header-v2__nav-link">Home</a></li>
                                    <li class="s-header-v2__nav-item"><a href="#about" class="s-header-v2__nav-link">About</a></li>
                                    <li class="s-header-v2__nav-item"><a href="#structure" class="s-header-v2__nav-link">Structure</a></li>
                                    <li class="s-header-v2__nav-item"><a href="#faq" class="s-header-v2__nav-link">FAQs</a></li>
                                    <li class="s-header-v2__nav-item"><a href="#contact" class="s-header-v2__nav-link s-header-v2__nav-link--dark">Contact Us</a></li>
                                    <li class="s-header-v2__nav-item"><a href="/login" class="s-header-v2__nav-link">Login</a></li>
                                </ul>
                            </div>
                            <!-- End Nav Menu -->
                        </div>
                    </div>
                    <!-- End Navbar Row -->
                </div>
            </nav>
            <!-- End Navbar -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== PROMO BLOCK ==========-->
        <div id="home" class="g-fullheight--md js__parallax-window" style="background: url(static/img/landing.jpg) 60% 30% no-repeat fixed; background-size:cover !important">
            <div class="g-fullheight--md g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-300--md" style="width:100%; rbga(0,0,0,0)">
            <div class="g-fullheight--md g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-300--md" style="width:100%;background: rbga(0,0,0,0)">
                <div class="g-margin-b-60--xs">
                    <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">PNAF Presents</p>-->
                    <img class="resize" src="static/img/startupconclave.png" alt="StartUp Conclave">
                    <p class="g-font-size-18--xs g-font-size-26--md g-color--white g-margin-b-0--xs">Do you have an idea that could change the shape of the society?</p>
                </div>
                <span class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a href="/register" class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">NITian Tier</a>
                </span>
                <span class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a href="/registerother" class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">Open Tier</a>
                </span>
            </div>
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->

        <!--========== PAGE CONTENT ==========-->
        <!-- About -->
        <div id="about"class="container g-padding-y-60--xs g-padding-y-80--sm">
            <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
                <div class="col-sm-4 col-sm-push-2 col-xs-6 g-hor-centered-row__col">
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="static/img/pnaf_logo.png" alt="PNAF" height="212.27" width="600">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 g-text-left--xs g-hor-centered-row__col">
                    <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">About</p>-->
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">About PNAF</h2>
                    <p class="g-font-size-18--sm">PAN NIT Alumni Forum is an umbrella organization incorporating Alumni Associations and thus integrating Alumni of all NITs to evolve the brand “NIT” that would provide strong fraternity. It aims to establish the vision- “To Foster Brand NIT Globally” among the society and continuously enhance the same by providing a platform to build global professional networks by bringing Alumni of all NITs together.</p>
                </div>
            </div>
            <div class="row g-hor-centered-row--md g-row-col--5">
                <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col">
                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s">
                        <img class="img-responsive" src="static/img/start-up_conclave.png" alt="StartUp Conclave" height="212.27" width="600">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md">
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">About StartUp Conclave</h2>
                    <p class="g-font-size-18--sm">Innovation and enterprising are the wheels that steer the world into a brighter future. Great ideas result into great great undertakings which pave the way for glaring success. In order to facilitate this vision of promoting entrepreneurship in India, <a href="ecellvnit.org">E-Cell VNIT</a> organizes StartUp Conclave, a national business plan competition.</p>
                </div>
            </div>
            <br>
        </div>
        <!-- End About -->

        <!-- Competition Structure -->
        <div id="structure" class="g-bg-color--primary-ltr" style="background: url(static/img/background8-01.jpg) 60% 30% no-repeat fixed; background-size:cover !important">
            <div class="container g-padding-y-60--xs g-padding-y-80--sm">
                <div class="g-text-center--xs g-margin-b-100--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Start-up Conclave</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">Competition Structure</h2>
                </div>
                <ul class="list-inline row g-margin-b-100--xs">
                    <!-- Process -->
                    <li class="col-sm-4 col-xs-4 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                        <div class="center-block g-text-center--xs">
                            <div class="g-margin-b-30--xs">
                                <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle" style="color: #c21807">01</span>
                            </div>
                            <div class="g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-color--white">Round 01</h3>
                                <p class="g-opacity">This round  commences with  filling our questionnaire. our experts will analyze on basis of idea generation and will shortlist teams for second round. Learning resources like videos, curated course material and presentations will be shared with the teams  to guide them.</p>
                            </div>
                        </div>
                    </li>
                    <!-- End Process -->

                    <!-- Process -->
                    <li class="col-sm-4 col-xs-4 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                        <div class="center-block g-text-center--xs">
                            <div class="g-margin-b-30--xs">
                                <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle" style="color: #c21807">02</span>
                            </div>
                            <div class="g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-color--white">Round 02</h3>
                                <p class="g-color--white-opacity">In this round, shortlisted teams will create a B-plan which will map the company's future course of action. Every team will send a video of their elevator pitch. One to one mentoring by seasoned entrepreneurs will be provided to the teams.</p>
                            </div>
                        </div>
                    </li>
                    <!-- End Process -->

                    <!-- Process -->
                    <li class="col-sm-4 col-xs-4 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--sm">
                        <div class="center-block g-text-center--xs">
                            <div class="g-margin-b-30--xs">
                                <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle" style="color: #c21807">03</span>
                            </div>
                            <div class="g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-color--white">Round 03</h3>
                                <p class="g-color--white-opacity">Top 15 teams will represent their startup at VNIT from 1st-4th March 2019 during Consortium 2019. A Workshop on “How to Pitch” will be arranged for the teams. On T.B.D March, 2018 teams will pitch their start-up in front of the investor panel. This will be followed by the award ceremony. </p>
                            </div>
                        </div>
                    </li>
                    <!-- End Process -->

                </ul>

                <!--<div class="g-text-center--xs">-->
                <!--    <a href="#js__scroll-to-appointment" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs">Register Now</a>-->
                <!--</div>-->
            </div>
        </div>
        <!-- End Process -->

        <!--<div id="faq" class="js__parallax-window" style="background: url(img/1920x1080/06.jpg) 50% 0 no-repeat fixed;">-->
        <!--    <div class="g-container--md g-text-center--xs g-padding-y-150--xs">-->
        <!--        <div class="g-margin-b-60--xs">-->
        <!--            <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-70--md g-color--white g-letter-spacing--1 g-margin-b-30--xs">FAQ</h1>-->
        <!--            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2">Your Questions. Answered.</p>-->
        <!--        </div>-->
        <!--        <a href="#js__scroll-to-section">-->
        <!--            <span class="s-icon s-icon--md s-icon--white-brd g-radius--circle ti-angle-double-down"></span>-->
        <!--        </a>-->
        <!--    </div>-->
        <!--</div>-->

        <!-- Mentors -->
        <div class="container-fluid g-padding-y-80--xs g-padding-y-125--sm">
            <div class="g-text-center--xs g-margin-b-80--xs">
                <p class="text-uppercase g-font-size-20--xs g-font-weight--700 g-letter-spacing--2 g-margin-b-25--xs" style="color: #bd2026">MENTORS</p>
            </div>

            <!-- Swiper -->
            <div class="s-swiper js__swiper-news">
                <!-- Wrapper -->
                <div class="swiper-wrapper g-margin-b-60--xs">
                  <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/yukti.jpg')">
                      <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                          <div class="g-margin-b-25--xs">
                              <h3 class="g-font-size-16--xs g-color--white g-margin-b-50--xs">YUKTI MEHANDIRATTA</h3>
                              <p class="g-color--white">Silhouette by Yukti</p>
                          </div>
                          <a href="https://www.linkedin.com/in/yukti-mehandiratta-3164b652" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More</a>
                      </div>
                  </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/bhavesh.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-25--xs">BHAVESH KOTHARI</h3>
                                <p class="g-color--white">Chief Business Officer - Tapaswi Group Venture</p>
                            </div>
                            <a href="https://www.linkedin.com/in/bhaveshkothari1511/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/chhaya.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-25--xs">CHHAYA SEHGAL</h3>
                                <p class="g-color--white">Founder and CEO - The Winning Edge</p>
                            </div>
                            <a href="https://www.linkedin.com/in/chhaya-sehgal/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/satish.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-50--xs">SATISH KATARIA</h3>
                                <p class="g-color--white">Managing Director, Catapooolt</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/giridhar.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-25--xs">T R GIRIDHAR</h3>
                                <p class="g-color--white">Founder Partner - Just Bespoke Advisory LLP</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/krishna.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-50--xs">KRISHNAKUMAR DEVNALLY</h3>
                                <p class="g-color--white">Director, mPower Solutions</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/murtuza.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-50--xs">MURTUZA HARYANAWALLA</h3>
                                <p class="g-color--white">CEO, Strtup.net</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                        </div>
                    </article>
                     <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/subhrangshu.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-50--xs">SUBHRANGSHU NEOGI</h3>
                                <p class="g-color--white">Former Director, Religare</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                        </div>
                    </article>
                     <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/dipesh.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-50--xs">DIPESH AJMERA</h3>
                                <p class="g-color--white">CEO, Ajmera Tyres, Nagpur</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
                        </div>
                    </article>
                </div>
                <!-- End Wrapper -->

                <!-- Pagination -->
                <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--dark g-text-center--xs js__swiper-pagination"></div>
            </div>
            <!-- End Swiper -->
        </div>
        <!-- End Mentors -->

        <!-- FAQ -->
        <div class="s-faq g-bg-color--primary" style="background: url(static/img/background8-01.jpg) 60% 30% no-repeat fixed; background-size:cover !important" id="faq">
            <div class="container g-padding-y-125--xs">
              <h2 class="g-font-size-32--xs g-font-size-36--md g-text-center--xs g-margin-b-80--xs g-color--white">Frequently Asked Questions?</h2>
              <div class="row">
                  <div class="col-sm-6">
                      <div class="cbp-l-grid-faq js__grid-faq">
                          <div class="cbp-item buying">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h2 class="s-faq-grid__title">What is StartUp Conclave?</h2>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                        StartUp Conclave is a platform for aspiring entrepreneurs to put forth their ideas, nurture them under our esteemed mentorship program and finally pitching it in front of investors. The best startups selected by our panel will be rewarded with exciting prizes worth 7 lakhs.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item community">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h3 class="s-faq-grid__title">Why should I participate in StartUp Conclave?</h3>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          Right from acknowledging potential of your idea, enhancing your business acumen, steering your idea in correct direction, scrutinizing your views which will pave your way for glaring success , this platform has it all!
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item buying">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">When and where is the final round of  StartUp Conclave?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          Consortium will be a 3 day Entrepreneurship Summit which will be held on 1-3th March ’19. The final round of Startup Conclave shall be  on 2nd and 3rd  march. Shortlisted teams will b invited to VNIT for the final pitching.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item author">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">What are the different levels in StartUp Conclave?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          It's a three round competition starting from filling a questionnaire in Round 1 followed by Business Plan draft and elevator pitch in Round 2 and finally pitching in the auditorium of Visvesvaraya National Institute of Technology on 2nd and 3rd March, 2019 in Round 3.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item copyright">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">What is the concept of “Elevator Pitch” in second round?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          An elevator pitch will be a short description of your idea, product or startup that will explain the concept in 1 minute. You will have to record a video and send to us details of which will be provided after first round.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item author">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">What is the eligibility for participating in startup conclave?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          Any NIT or non-NITian team having a budding startup which u think has a prospective of emerging as a successful startup provided we give a momentum is welcome. NITians should participate in NIT Tier and all others should participate in the Open Tier. You can participate in a team ranging from 2-5.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item account">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">Is there a separate event for NITians and non-NITians?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          It is the same event for everyone although we have done segregation only to recognize the best ideas from NITs. The qualification scenarios will be in respective groups only and will continue till last round.
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class=" cbp-l-grid-faq js__grid-faq">
                          <div class="cbp-item account">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">How much is the prize money for winning teams?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          Total cash prize for the winning teams is Rs. 5.5 lakhs. Resources and incentives are worth 1 million Rupees.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item author">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">When is the last date for registration?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          Registrations will be open till 25th December 2018.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item copyright">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">How much is the registration fees?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          Registration fees for the participants is Rs. 300 per team.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item copyright">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">How can I pay registration fees?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          You can pay though Google Pay (Tez), Paytm or through UPI; details of which are provided on registration site.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item copyright">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title"> What is the further process after registration for first round?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                        After registration you will have to fill a questionnaire provided on our website and submit it till 27th December 2018. Shortlisted teams for second round will receive an email within a week.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item buying">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">About B-plan in second round.</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          A B-plan or business plan is a formal written document containing business goals, various methods about how can these be attained , time frame within which these goals will be achieved and your future targets. Generally we expect a detailed document consisting of around 30-40 pages which briefly describes the future course of your startup.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="cbp-item community">
                              <div class="cbp-caption">
                                  <div class="s-faq-grid__divider cbp-caption-defaultWrap">
                                      <h4 class="s-faq-grid__title">Who will conduct the mentoring sessions?</h4>
                                  </div>
                                  <div class="cbp-caption-activeWrap">
                                      <div class="g-color--white-opacity">
                                          We have veterans from entrepreneurial field to conduct mentoring sessions who will guide you and also answer all your queries related to your startup.
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <!-- End FAQ -->

        <!-- Our Investors -->
        <div class="container-fluid g-padding-y-80--xs g-padding-y-125--sm">
            <div class="g-text-center--xs g-margin-b-80--xs">
                <p class="text-uppercase g-font-size-20--xs g-font-weight--700 g-letter-spacing--2 g-margin-b-25--xs" style="color: #bd2026"> PREVIOUS INVESTORS</p>
            </div>

            <!-- Swiper -->
            <div class="s-swiper js__swiper-news">
                <!-- Wrapper -->
                <div class="swiper-wrapper g-margin-b-60--xs">
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/devesh.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-55--xs">DEVESH CHAWLA</h3>
                                <p class="g-color--white">CEO & Founder - Chatur Ideas</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img src=""></a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/miten.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-55--xs">MITEN MEHTA</h3>
                                <p class="g-color--white">Angel Investor, Silicon Valley</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img src=""></a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/umasankar.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">UMASANKAR NISTALA</h3>
                                <p class="g-color--white">Managing Director at a Global Financial Institution - JP Morgan Chase</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img src=""></a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/shwetank.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-55--xs">SHWETANK SHRIMAL</h3>
                                <p class="g-color--white">Serial Entrepreneur & Investor - UK</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img src=""></a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/shashikant.png')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-55--xs">SHASHIKANT CHAUDHARY</h3>
                                <p class="g-color--white">Cofounder, Nagpur Angels</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img src=""></a>
                        </div>
                    </article>
                    <article class="g-bg-position--center swiper-slide" style="background: url('static/img/pictures/ravikanth.jpg')">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-30--xs">RAVIKANTH TIWARI</h3>
                                <p class="g-color--white">Trade Commissioner of Ontario, Canada</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img src=""></a>
                        </div>
                    </article>
                    <!--<article class="g-bg-position--center swiper-slide" style="background: url('img/400x500/13.jpg'); background:linear-gradient(315deg, #bd2026, #131313)">
                        <div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
                            <div class="g-margin-b-25--xs">
                                <h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Medical Services</h3>
                                <p class="g-color--white">Clinics can be privately operated.</p>
                            </div>
                            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Know More<img src=""></a>
                        </div>
                    </article>-->
                </div>
                <!-- End Wrapper -->

                <!-- Pagination -->
                <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--dark g-text-center--xs js__swiper-pagination"></div>
            </div>
            <!-- End Swiper -->
        </div>
        <!-- End Investors -->

        <!-- Feedback Form -->
        <div id="contact" class="g-position--relative g-bg-color--primary" style="background: url(static/img/background8-01.jpg) 60% 30% no-repeat fixed; background-size:cover !important">
        <!--<img class="s-mockup-v2" src="img/mockups/pencil-01.png" alt="Mockup Image">-->
            <div class="g-container--md g-padding-y-125--xs">
                <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Contact Us</p>
                    <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">Get in Touch</h2>
                </div>
                <div class="row g-row-col--5 g-margin-b-80--xs">
                    <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-email"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Email</h4>
                            <p class="g-color--white-opacity">contact@ecellvnit.org</p>
                        </div>
                    </div>
                    <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-map-alt"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Address</h4>
                            <p class="g-color--white-opacity">Visvesvaraya National Institute of Technology, South Ambazari Road, Nagpur, Maharashtra(PIN-440010)</p>
                        </div>
                    </div>
                    <div class="col-xs-4 g-full-width--xs">
                        <div class="g-text-center--xs">
                            <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-headphone-alt"></i>
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Call at</h4>
                            <p class="g-color--white-opacity">+91 7758011192</p>
                        </div>
                    </div>
                </div>
                <form class="center-block g-width-500--sm g-width-550--md">
                    <div class="g-margin-b-30--xs">
                        <input type="text" class="form-control s-form-v3__input" placeholder="* Name">
                    </div>
                    <div class="row g-row-col-5 g-margin-b-50--xs">
                        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                            <input type="email" class="form-control s-form-v3__input" placeholder="* Email">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control s-form-v3__input" placeholder="* Phone">
                        </div>
                    </div>
                    <div class="g-margin-b-80--xs">
                        <textarea class="form-control s-form-v3__input" rows="5" placeholder="* Your message"></textarea>
                    </div>
                    <div class="g-text-center--xs">
                        <button type="submit" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Feedback Form -->

        <!--========== END PAGE CONTENT ==========-->
        <!-- Subscribe -->
        <!-- <div class="g-container--sm g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
            <div class="g-margin-b-60--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Subscribe</p>
                <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1">Join Over 1000+ People</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <form class="input-group">
                        <input type="email" class="form-control s-form-v5__input g-radius--left-50" name="email" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button type="submit" class="s-btn s-btn-icon--md s-btn-icon--dark-brd s-btn--dark-brd g-radius--right-50"><i class="ti-arrow-right"></i></button>
                        </span>
                    </form>
                </div>
            </div>
        </div> -->
        <!-- End Subscribe -->
        <!--========== FOOTER ==========-->
        {{> footer}}

        <!--========== END FOOTER ==========-->

        {{> scripts}}
        <!--========== END JAVASCRIPTS ==========-->

    </body>
    <!-- End Body -->
</html>
