<!DOCTYPE html>
<html lang="en" class="no-js">
    {{> head }}

    <!-- Body -->
    <body>


        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <nav class="s-header-v2__navbar">
                <div class="container g-display-table--lg">
                    <!-- Navbar Row -->
                    <div class="s-header-v2__navbar-row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="s-header-v2__navbar-col">
                            <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                                <span class="s-header-v2__toggle-icon-bar"></span>
                            </button>
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                            <!-- Logo -->
                            <div class="s-header-v2__logo">
                                <a href="about.html" class="s-header-v2__logo-link">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="static/img/simple_red.png" alt="Consortium" height="50" width="50">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="static/img/simple_red.png" alt="Consortium" height="50" width="50">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>

                        <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                                <ul class="s-header-v2__nav">
                                    <li class="s-header-v2__nav-item"><a href="#home" class="s-header-v2__nav-link">Home</a></li>
                                </ul>
                            </div>
                            <!-- End Nav Menu -->
                        </div>
                    </div>
                    <!-- End Navbar Row -->
                </div>
            </nav>
            <!-- End Navbar -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== PROMO BLOCK ==========-->
        <div id="home" class="g-fullheight--md js__parallax-window" style="background: url(static/img/background8-01.jpg) 60% 30% no-repeat fixed; background-size:cover !important">
            <div class="g-fullheight--md g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-300--md" style="width:100%; rbga(0,0,0,0)">
            <div class="g-fullheight--md g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-300--md" style="width:100%;background: rbga(0,0,0,0)">
                <div class="g-margin-b-60--xs">
                    <!--<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">PNAF Presents</p>-->
                    <p class="g-font-size-18--xs g-font-size-26--md g-color--white g-margin-b-0--xs">Do you have an idea that could change the shape of the society?</p>
                </div>
                <span class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a href="/register" class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">INTERNIT TIER</a>
                </span>
                <span class="g-display-block--xs g-display-inline-block--sm g-padding-x-5--xs g-margin-b-10--xs g-margin-b-0--sm">
                    <a href="/registerother" class="text-uppercase s-btn s-btn-icon--md s-btn--white-brd g-radius--50 g-padding-x-65--xs">OPEN TIER</a>
                </span>
            </div>
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->
        </body>
      </html>
